:root {
    --color-bg: #fff;
    --color-text: #0a0a0a;
    --font-family-base: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, sans-serif;
    --line-height-base: 1.5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body,
#root {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    line-height: var(--line-height-base);

    color: var(--color-text);
    background: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;

    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;

    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;

    color: inherit;
    border: none;
    background: none;
}
